@import "../../shared/breakpoints";
@import "../../shared/colors";

.lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: $third-color;
}

.lessonInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  min-height: 100vh;
  padding: 10px 10px 0;
  box-sizing: border-box;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  position: relative;
  border: 1px solid $light-gray-color;
  background-color: #fff;
}

.firstBlock {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentBlock {
  width: 100%;
}

.lessonName {
  margin-top: 3rem;
  font-size: 2rem;
}

.courseImage {
  max-width: 180px;
}

.footerPanel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 25px 15px;
}

.closeButton {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: $light-primary-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: 15px;
  &:active {
    transform: scale(0.9);
  }
}

.closeImage {
  width: 25px;
  height: 25px;
  margin-left: -5px;
}

.lastBlock {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textfieldOuter {
  max-width: 360px;
  width: 100%;
  margin-top: 1rem;
  transition: opacity linear .2s;
}

.lastQuestion {
  font-size: 1.8rem;
  margin: 1rem 0;
  text-align: center;
}

.shareOpinion {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (max-width: $x-small) {
  .lessonName {
    text-align: center;
    font-size: 1.4rem;
  }
  .closeButton {
    cursor: default;
  }
}
