@import "../../shared/breakpoints";
@import "../../shared/colors";

.container {
  display: flex;
}

.title {
  display: block;
  font-size: 1.9rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.description {
  font-weight: normal;
}

.info {
  margin-left: 40px;
}

.lessonsOuter {
  margin-top: 20px;
}

.lesson {
  box-shadow: 0 0 5px $gray-color;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 15px;
  padding: 20px 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:last-child {
    margin: 0;
  }
}

@media (max-width: $small) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .info {
    margin-top: 40px;
    margin-left: 0;
  }
}

@media (max-width: $x-small) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
}
