@import "../../breakpoints";

.course {
  padding: 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.courseOuter {
  max-width: 400px;
  transition: transform linear .1s;
  &:hover {
    transform: scale(1.01);
  }
}

.image {
  max-width: 60px;
}

.title {
  display: block;
  margin-top: 15px;
  font-size: 1.3rem;
}

.progressOuter {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.textOuter {
  display: inline-block;
  max-width: 120px;
  margin-left: 15px;
  font-weight: 100;
  letter-spacing: .5px;
}

@media (max-width: $medium) {
  .course {
    cursor: default;
  }
}
