.wrapper{
	max-width: 500px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 7px;
    box-shadow: 0 0 .5rem  #000;
    text-align: center;
	
}
.sign{
}

.image {
	 width: 100%;
	 margin-bottom: 70px;
}