.wrapper{
	max-width: 500px;
	padding: 3rem;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 7px;
    box-shadow: 0 0 15px rgba(102, 161, 217, 0.6);
    text-align: center;
	
}
@media screen and(max-width: 600px)
{
	.wrapper{
		max-width: 450px;
	}
	.image {
		margin-bottom: 40px;
   }
}
@media screen and(max-width: 450px)
{
	.wrapper{
		max-width: 370px;
	}
}
@media screen and(max-width: 400px)
{
	.wrapper{
		max-width: 320px;
	}
}

.image {
	 width: 100%;
	 margin-bottom: 70px;
}