.sign{
    max-width: 500px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0 0 .5rem  #000;
    height: 500px;
    text-align: center;
}