@import "../../breakpoints";

.container {
  min-height: 100vh;
  padding: 0 160px;
  margin-left: 72px;
}

.content {
  color: #fff;
}

@media (max-width: $xx-large) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: $medium) {
  .container {
    margin: 0 0 60px;
    padding: 0 20px;
  }
}
