@import "../../colors";
@import "../../shadows";
@import "../../breakpoints";

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.title {
    line-height: 1.6;
    font-size: 2.625rem;
    font-weight: 700;
}

.avatar {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 50%;
    background-color: #66D2D9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu {
    box-shadow: $standard-shadow;
    position: absolute;
    width: 300px;
    right: 0;
    display: none;
    top: 70px;
    border: 1px solid $light-gray-color;
    border-radius: 14px;
    background-color: #FFF;
    z-index: 30;
    &.open {
        display: block;
    }
    &::after {
        box-shadow: $standard-shadow;
        border: 1px solid $light-gray-color;
        content: "";
        position: absolute;
        right: 15px;
        top: -7px;
        display: block;
        width: 16px;
        height: 16px;
        background-color: #fff;
        transform: rotate(45deg);
    }
}

.menuInner {
    width: 100%;
    position: relative;
    background-color: #FFF;
    height: 100%;
    border-radius: 14px;
    z-index: 2;
}

$menu-item-color: rgba(0, 0, 0, 0.1);

.name {
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid $menu-item-color;
}

.menuItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 20px;
    transition-duration: 0.2s;
    color: $dark-color;
    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.menuText {
    display: block;
    margin-left: 6px;
}

.exit {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid $menu-item-color;
    padding: 15px 20px;
    transition-duration: 0.2s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

@media (max-width: $medium) {
    .avatar, .menuItem, .exit {
        cursor: default;
    }
}

@media (max-width: $x-small) {
    .title {
        font-size: 2.2rem;
    }
}

