@import "../../colors.scss";

.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 18px;
}

.title {
    line-height: 1.6;
    font-size: 2.625rem;
    font-weight: 700;
}

.userInfo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.name {
    margin-right: 15px;
}

.menu {
    position: absolute;
    width: 230px;
    height: 250px;
    right: 18px;
    display: none;
    top: 80px;
    border-radius: 14px;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(165, 173, 184, 0.5);
    &.open {
        display: block;
    }
    &::after {
        content: "";
        position: absolute;
        right: 15px;
        top: -7px;
        display: block;
        width: 16px;
        height: 16px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(165, 173, 184, 0.5);
        transform: rotate(45deg);
    }
}

.menuInner {
    width: 100%;
    position: relative;
    background-color: #FFF;
    height: 100%;
    border-radius: 14px;
    z-index: 2;
}

@media (max-width: 1024px) {
    .userInfo {
        cursor: default;
    }
}

@media (max-width: 600px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
        height: 65px;
    }
    .title {
        font-size: 2.25rem;
    }
    .name {
        display: none;
    }
    .menu {
        top: 72px;
        right: 10px;
    }
}