@import "../../colors.scss";

.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 18px;
}

.title {
    line-height: 1.6;
    font-size: 2.625rem;
    font-weight: 700;
}

.userInfo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.name {
    margin-right: 15px;
}

@media (max-width: 1024px) {
    .userInfo {
        cursor: default;
    }
}

@media (max-width: 600px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
        height: 65px;
    }
    .title {
        font-size: 2.25rem;
    }
    .name {
        display: none;
    }
}