$active: #66A1D9;
$inactive: #A5ADB8;
$text-color : #000;
$error: #CC444B;
$success: #53A251;
$input-transition: ease all .4s;

.label{
    font-family: sans-serif,"Arial";
    transition: $input-transition;
    position: relative;
    font-size: 1rem;
    display: block;
    margin-bottom: 50px;
    & .input{
        font-size: inherit;
        outline: none;
        border: none;
        width: 100%;
        border-bottom: 2px solid $inactive;
        padding-top: 1.1rem;
        padding-bottom: .6rem;
        color: $text-color;
        &::placeholder{
            transition: $input-transition;
            opacity: 1;
        }
        &:focus::placeholder{
            opacity: 0;
        }
        &:focus ~ .title{
            opacity: 1;
        }
        &:focus ~ .line{
            width: 100%;
        }
    }
    & .title{
        transition: inherit;
        color: #A5ADB8;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        
    }
    & .line{
        transition: 1s;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $active;
        transform-origin: left bottom;
        width: 0;
    }
    & .active{
        opacity: 1; // для заполненного инпута подсказку не убираем
    }
    & .error{
        color: $error;
    }
    & .success{
        color: $success;
    }
}


