@import "../../shared/colors";

.modalTitle {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.mainInfo {
  max-width: 500px;
  width: 100%;
}

.formContainer {
  display: flex;
}

.lessonsPanel {
  width: 100%;
  margin-left: 30px;
}

.lessonList {
  flex-grow: 1;
  position: relative;
}

.addLessonButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px 0;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.addLessonForm {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px 30px 20px;
  background-color: $light-gray-color;
  display: flex;
  align-items: flex-end;
}

.inputOuter {
  max-width: 360px;
  width: 100%;
  margin-right: 20px;
}

.lesson {
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(236, 236, 236);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

%button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  max-width: 25px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.dragButton {
  @extend %button;
  background: transparent url("/dots.svg") 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  height: 25px;
}

.editButton {
  @extend %button;
  margin-right: 6px;
}

.removeButton {
  @extend %button;
}

.buttonImage {
  width: 100%;
}
