@import "../../colors";

.button {
  display: block;
  border: none;
  border-radius: 8px;
  padding: 12px 21px;
  cursor: pointer;
  background-color: $blue-color;
  color: #fff;
}

.button:active {
  transform: scale(0.9);
}

.button:disabled {
  background-color: $light-blue-color;
  cursor: not-allowed;
}