@import "../../../shared/colors";

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  background: url("/coollider-logo.webp") no-repeat 50% 10%;
  background-size: 280px;
}

.title {
  text-align: center;
}

.formRow, .buttonOuter, .linkOuter {
  margin-top: 1rem;
}

.buttonOuter, .linkOuter {
  display: flex;
  justify-content: center;
  align-items: center;
}
