@import "../../../shared/colors";

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  background: url("/background.webp") no-repeat 50% fixed;
  background-size: cover;
}
