@import "../../breakpoints";

.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px 20px;
}

.title, .text {
  margin-bottom: 10px;
}

.text {
  font-size: 1.3rem;
}

.text:last-child {
  margin-bottom: 0;
}

@media (max-width: $small) {
  .title {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.1rem;
  }
}

@media (max-width: $x-small) {
  .title {
    font-size: 2rem;
  }
  .text {
    font-size: 1rem;
  }
}
