@import "../../../shared/colors";

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background: url("/background.png") no-repeat fixed 50%;
    background-size: cover;
}
