$active-btn: #66A1D9;
$inactive-btn : #C8DDF0;

.btn{
    border: none;
    color: #fff;
    background: $inactive-btn;
	 border-radius: 8px;
	 padding: 16px 22px 16px 21px;
	 font-size: 18px;
	 font-weight: 400;
    outline: none;
    transition: ease all .3s;
}
.active{
    background: $active-btn;
    cursor: pointer;
}
