@import "../../shared/colors";

.installTitle {
  display: block;
  font-size: 1.3rem;
  text-align: center;
}

.buttonOuter {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

%message {
  display: block;
  text-align: center;
  font-size: 0.8rem;
}

.smallMessage {
  @extend %message;
  margin-top: .5rem;
}

.errorMessage {
  @extend %message;
  color: $error-color;
}
