$primary-color: #2E79FF;
$light-primary-color: cornflowerblue;
$secondary-color: #66a1d9;
$third-color: #FF9C6D;
$gray-color: #a5adb8;
$light-gray-color: rgba(214, 214, 214, 0.47);
$dark-color: #3A3B40;
// #FF9494 - error
$error-color:  #F93154;
$success-color: #00B74A;
