$primary-color: #66A1D9;
$secondary-color: #C8DDF0;
$third-color: #FF9C6D;
$gray-color: #A5ADB8;
$light-gray-color: rgba(214, 214, 214, 0.47);
$dark-color: #3A3B40;
// #FF9494 - error
$error-color:  #F93154;
$success-color: #00B74A;
