@import "../../colors";
@import "../../shadows";
@import "../../breakpoints";

$menu-shadow-color: rgba(255, 255, 255, 0.25);

.menu {
  position: fixed;
  width: 72px;
  background-color: $primary-color;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.logo {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px #000000;
}

.menuItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.firstMenu, .secondMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.menuItemTitle {
  display: block;
  padding-top: 6px;
  font-size: 11px;
  color: #fff;
}

@media (max-width: $medium) {
  .menu {
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: unset;
    top: unset;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 -5px 15px $menu-shadow-color;
  }
  .firstMenu, .secondMenu {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .firstMenu {
    flex: 3;
  }
  .secondMenu {
    flex: 1;
  }
  .menuItem {
    margin: 0;
    padding: 0;
    height: 40px;
    cursor: default;
  }
  .menuItemImage {
    display: block;
  }
  .notMobile {
    display: none;
  }
}
