@import "../../colors";

.aside{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 6px 0 15px rgba(102, 161, 217, 0.4);
    width: 72px;
    background-color: $primary-color;
    height: 100vh;
    transition: width .3s ease .1s;
}

@media (min-width: 1024px) {
    .aside:hover{
        width: 300px;
    }
}

@media (max-width: 600px) {
    .aside {
        width: auto;
        top: unset;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        box-shadow: none;
    }
}