.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.buttonOuter {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.inputOuter {
  margin-top: 1rem;
}

.logoOuter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 90%;
}
